/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_ptextlist" */
	
	/* List */
	.tx-ptextlist-list-standard {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		width: 100%;
	}
	
	.tx-ptextlist-list-standard th {
		background: #AAA;
		border: 1px solid #bfbfbf;
		padding: 4px;
		white-space: nowrap;
	}
	
	.tx-ptextlist-list-standard td {
		border: 1px solid #bfbfbf;
		margin: 0px;
		padding: 2px 4px 2px 4px;
		vertical-align: top;
	}
	
	.tx-ptextlist-list-standard tr.odd {
		background-color: #ffffff;
	}
	
	.tx-ptextlist-list-standard tr.even {
		background-color: #F5F5F5;
	}
	
	
	/* Listheader */
	.tx-ptextlist-list-header a {
		text-decoration: none;
	}
	
	.tx-ptextlist-list-header img {
		border: none;
	}
	
	
	/* Aggregates */
	.tx-ptextlist-aggregaterow {
		background-color: #DDDDDD;
		font-weight: bold;
	}

	/* Export */

	.tx-ptextlist-list-exportLink {
	    margin: 5px;
	}
	
	
	/* Filters */
	.tx-ptextlist-filterbox{
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
		background-color: #eee;
	}
	
	.tx-ptextlist-filterboxcontrols {
		/* float: left; */
		clear: both;
		padding: 18px 0 0 10px;
	}

	.tx-ptextlist-filters {
		list-style-type: none;
	}
	
	.tx-ptextlist-filter {
		float: left;
		margin: 20px;
		padding: 10px;
		list-style-type: none;
		background-color: #ccc;
		border: 1px solid #AFAFAF;
	}



	/* Filters | Firstletter */	
	.tx-ptextlist-filter-firstLetter{
		float: left;
		padding: 3px;
		list-style-type: none;
	}

	.type-button .reset {
		margin-left: 1em;
	}
	
	/* Filters | TagClud */
	.tx-ptextlist-filter-tagCloud-list li {
		float: left;
		list-style: none outside none;
		margin-right: 6px;
		margin-top: 3px;

	}
	
	.tx-ptextlist-filter-tagCloud-list li a:hover {
		text-decoration: underline;
	}
	
	/* Pager */
	.tx-ptextlist-pager-wrapper {
	    border: 1px solid #BFBFBF;
        margin-top: 20px;
        padding: 5px;
        overflow: hidden;
        background-color: #eee;
	}
	
	.tx-ptextlist-pager {
		margin-left: 0;
		text-align: center;
	}
	
	.tx-ptextlist-pager li {
		display: inline;
	}
	
	.tx-ptextlist-pager-item-display {
		color: #777;
	}
/* default styles for extension "tx_egooglemap_pi1" */
		/* Map */
		.tx_egooglemap_map .tx_egooglemap_clear {clear:both;}

		.tx_egooglemap_map .tx_egooglemap_carto_left {float:left;}
		.tx_egooglemap_map .tx_egooglemap_carto_right {float:right;}
		.tx_egooglemap_map .tx_egooglemap_carto_top,
		.tx_egooglemap_map .tx_egooglemap_carto_bottom {clear:both;}

		.tx_egooglemap_map h2 {margin:0; padding:0; font-size:14px; color:#999999; text-align:center;}
		.tx_egooglemap_map .tx_egooglemap_legend_picto {width:20px; height:20px;}
		.tx_egooglemap_map label {margin:0; padding:0;}

		.tx_egooglemap_map .tx_egooglemap_legend_left,
		.tx_egooglemap_map .tx_egooglemap_legend_right {width:220px; border:#CCCCCC 1px solid; margin-right:5px;}
		.tx_egooglemap_map .tx_egooglemap_legend_left {float:left;}
		.tx_egooglemap_map .tx_egooglemap_legend_right {float:right;}

		.tx_egooglemap_map .tx_egooglemap_legend_top,
		.tx_egooglemap_map .tx_egooglemap_legend_bottom {clear:both; margin-top:3px;}

		.tx_egooglemap_map .tx_egooglemap_legend_top .tx_egooglemap_maincategory,
		.tx_egooglemap_map .tx_egooglemap_legend_bottom .tx_egooglemap_maincategory,
		.tx_egooglemap_map .tx_egooglemap_legend_top .tx_egooglemap_kml,
		.tx_egooglemap_map .tx_egooglemap_legend_bottom .tx_egooglemap_kml {font-weight:normal; margin-left:5px; float:left; width:32%; margin-bottom:5px;}

		.tx_egooglemap_map .tx_egooglemap_legendarbo {padding:2px;}
		.tx_egooglemap_map .tx_egooglemap_btnexpend {text-align:right; padding:0px 10px 5px 0px;}

		.tx_egooglemap_map .tx_egooglemap_legendresizezone {display:inline;}
		
		.tx_egooglemap_map .tx_egooglemap_categories {clear:both;}
		.tx_egooglemap_map .tx_egooglemap_kmls {clear:both;}
		.tx_egooglemap_map .tx_egooglemap_maincategory {margin:3px 0 5px 0;}
		.tx_egooglemap_map .tx_egooglemap_category {display:block; margin-bottom:3px;}
		.tx_egooglemap_map .tx_egooglemap_category input,
		.tx_egooglemap_map .tx_egooglemap_nosubcategory {padding-left:18px;}
		.tx_egooglemap_map .tx_egooglemap_subcategory {padding-left:18px;}
		.tx_egooglemap_map .tx_egooglemap_kml input {margin:0 3px 0 3px; padding:0;}

		.tx_egooglemap_map .tx_egooglemap_category_description .tx_egooglemap_category_description_title,
		.tx_egooglemap_map .tx_egooglemap_kml_description .tx_egooglemap_kml_description_title {display:block; font-weight:bold;}

		.tx_egooglemap_map .tx_egooglemap_category_description,
		.tx_egooglemap_map .tx_egooglemap_kml_description {clear:both; border-color:#999999; background-color:#FFFFFF; border-style:solid; border-width:1px; display:none; padding:2px 2px 2px 2px;}

		.tx_egooglemap_map .tx_egooglemap_options {margin-top:10px;}

		.tx_egooglemap_map .tx_egooglemap_geocoder,
		.tx_egooglemap_map .tx_egooglemap_direction {margin-bottom:10px;}

		.tx_egooglemap_map .tx_egooglemap_geocoder form fieldset,
		.tx_egooglemap_map .tx_egooglemap_direction form fieldset {border:#999999 1px solid; padding:3px; margin:0;}

		.tx_egooglemap_map .tx_egooglemap_geocoder .fieldsetlabel,
		.tx_egooglemap_map .tx_egooglemap_direction .fieldsetlabel {font-weight:bold; text-align:left; top:-12px; left:15px; position:relative; background:#F4F4F4;}

		.tx_egooglemap_map .tx_egooglemap_geocoder form fieldset .geocoderexemple,
		.tx_egooglemap_map .tx_egooglemap_direction form fieldset .directionfromexemple,
		.tx_egooglemap_map .tx_egooglemap_direction form fieldset .directiontoexemple {color:#999999; display:block;}

		.tx_egooglemap_map .tx_egooglemap_geocoder_champs,
		.tx_egooglemap_map .tx_egooglemap_direction_champs {text-align:center;}

		.tx_egooglemap_map .tx_egooglemap_geocoder_address {width:300px;}

		.tx_egooglemap_map .tx_egooglemap_direction_from_field,
		.tx_egooglemap_map .tx_egooglemap_direction_to_field {float:left; margin:0px 15px 0px 15px;}

		.tx_egooglemap_map .tx_egooglemap_direction_from,
		.tx_egooglemap_map .tx_egooglemap_direction_to {width:300px;}

		.tx_egooglemap_map .tx_egooglemap_direction_fields {clear:both;}
		
		.tx_egooglemap_map .tx_egooglemap_geocoder_submit_field,
		.tx_egooglemap_map .tx_egooglemap_direction_submit_field {clear:both; padding-top:5px;}
		
		*html .tx_egooglemap_map .tx_egooglemap_direction_fields {padding-bottom:5px;}
		
		.tx_egooglemap_map .tx_egooglemap_direction_mode label {display:block; text-align:left;}

		.tx_egooglemap_map .tx_egooglemap_geocoder_champs,
		.tx_egooglemap_map .tx_egooglemap_direction_champs {position:relative; top:-5px; text-align:center;}

		.tx_egooglemap_map .tx_egooglemap_direction_gestion {margin-bottom:8px;}

		.tx_egooglemap_map .tx_egooglemap_direction_textmode {margin-right:5px; position:relative; top:7px; float:right; font-weight:bold; color:#FF0000;}

		.tx_egooglemap_map .tx_egooglemap_direction_result .googledir {position:relative; top:-12px;}
		
			/* KML Link WINDOW */
		.tx_egooglemap_map .tx_egooglemap_kml-Link {text-align:right; padding-bottom:5px;}

		.tx_egooglemap_map .tx_egooglemap_kml-window {text-align:left; position:relative; left:489px; width:45%; border-color:#999999; background-color:#FFFFFF; border-style:solid; border-width:1px; display:none; padding:2px 2px 2px 2px;}
		*html .tx_egooglemap_map .tx_egooglemap_kml-window {left:0px;}

		.tx_egooglemap_map .tx_egooglemap_kml-windowbtn {display:block; float:right;}

		.tx_egooglemap_map .tx_egooglemap_kml-window input {width:99%;}

			/* POI Direction*/
		.tx_egooglemap_poi_direction .tx_egooglemap_poi_radio {margin-left:5px; margin-right:3px;}
		.tx_egooglemap_poi_direction .tx_egooglemap_poi_address {margin-top:5px; margin-bottom:5px; display:block;}
		.tx_egooglemap_poi_direction .tx_egooglemap_poi_address_input {width:80%;}
		.tx_egooglemap_poi_direction .tx_egooglemap_poi_submit {display:block; margin-top:10px; text-align:right;}
		.tx_egooglemap_poi_direction .tx_egooglemap_poi_submit_input {margin-right:15px;}

		/* List */
		.tx_egooglemap_list .tx_egooglemap_clear {clear:both;}

		.tx_egooglemap_list .tx_egooglemap_list_search_form fieldset {border:1px solid #999999; padding:5px;}

		.tx_egooglemap_list .tx_egooglemap_list_search_form .tx_egooglemap_list_search_label {font-weight:bold;}

		.tx_egooglemap_list .tx_egooglemap_list_search_form .tx_egooglemap_list_search_input {width:300px;}

		.tx_egooglemap_list .tx_egooglemap_list_search_limit {color:#999999; display:block; padding-left:200px;}

		.tx_egooglemap_list .tx_egooglemap_list_search_noresult {text-align:center; color:#FF0000; font-weight:bold;}


		.tx_egooglemap_list .tx_egooglemap_btnexpend {text-align:right; padding:0px 10px 5px 0px;}

		.tx_egooglemap_list .tx_egooglemap_maincategory {font-weight:normal; margin-left:5px; float:left; width:32%; margin-bottom:5px;}

		.tx_egooglemap_list .tx_egooglemap_legendresizezone {display:inline;}

		.tx_egooglemap_list .tx_egooglemap_poi_header {font-weight:bold;}

		.tx_egooglemap_list .tx_egooglemap_legend_picto,
		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_picto .tx_egooglemap_poi_img img {width:20px; height:20px;}

		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_picto .tx_egooglemap_poi_img img {margin-right:5px;}

		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_list_loupe {margin-left:5px;}

		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_picto,
		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_picto .tx_egooglemap_poi_img_label,
		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_picto .tx_egooglemap_poi_img,
		.tx_egooglemap_list .tx_egooglemap_poi_header .tx_egooglemap_poi_name {display:inline;}
		
		.tx_egooglemap_list .tx_egooglemap_maincategory {margin:3px 0 5px 0;}
		.tx_egooglemap_list .tx_egooglemap_category {display:block; margin-bottom:3px;}
		.tx_egooglemap_list .tx_egooglemap_category input {margin:0 3px 0 3px; padding:0;}
		.tx_egooglemap_list .tx_egooglemap_nosubcategory {padding-left:18px;}
		.tx_egooglemap_list .tx_egooglemap_subcategory,
		.tx_egooglemap_list .tx_egooglemap_poi_header_content {padding-left:18px;}

		.tx_egooglemap_list .tx_egooglemap_poi_header_content {padding-bottom:7px;}

		.tx_egooglemap_list .tx_egooglemap_poi_content .tx_egooglemap_poi_windowstabslabel {font-style:italic; text-transform:uppercase; margin-top:5px;}

		.tx_egooglemap_list .tx_egooglemap_labeltext {padding-left:5px;}

		.tx_egooglemap_list .tx_egooglemap_category_description .tx_egooglemap_category_description_title {display:block; font-weight:bold;}

		.tx_egooglemap_list .tx_egooglemap_category_description {clear:both; border-color:#999999; background-color:#FFFFFF; border-style:solid; border-width:1px; display:none; padding:2px 2px 2px 2px;}
/* default styles for extension "tx_egooglemap_pi2" */
		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder form {padding-top:10px;}

		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder form fieldset {border:#999999 1px solid; padding:3px; margin:0;}

		.tx-e_googlemap-pi2 .fieldsetlabel {font-weight:bold; text-align:left; top:-12px; left:15px; position:relative; background:#F4F4F4;}

		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder form fieldset label {display:inline; margin-bottom:5px;}

		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder form fieldset .exemplesearch {display:block; color:#999999;}
		
		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder_champs {position:relative; top:-5px; text-align:center;}

		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder_submit_field {clear:both; padding-top:5px;}

		.tx-e_googlemap-pi2 .tx_egooglemap_geocoder_address {width:300px;}
/* default styles for extension "tx_egooglemap_pi3" */
		.tx-e_googlemap-pi3 .tx_egooglemap_direction form {padding-top:10px;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction form fieldset {border:#999999 1px solid; padding:3px; margin:0;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction .fieldsetlabel {font-weight:bold; text-align:left; top:-12px; left:15px; position:relative; background:#F4F4F4;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction_from_field,
		.tx-e_googlemap-pi3 .tx_egooglemap_direction_to_field {float:left; margin:0px 15px 0px 15px;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction form fieldset .directionfromexemple,
		.tx-e_googlemap-pi3 .tx_egooglemap_direction form fieldset .directiontoexemple {color:#999999; display:block;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction_champs {position:relative; top:-5px; text-align:center;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction_from,
		.tx-e_googlemap-pi3 .tx_egooglemap_direction_to {width:300px;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction_fields {clear:both;}

		*html .tx-e_googlemap-pi3 .tx_egooglemap_direction_fields {padding-bottom:5px;}

		.tx-e_googlemap-pi3 .tx_egooglemap_geocoder_submit_field,
		.tx-e_googlemap-pi3 .tx_egooglemap_direction_submit_field {clear:both; padding-top:5px;}
		
		.tx-e_googlemap-pi3 .tx_egooglemap_direction_mode label {display:block; text-align:left;}

		.tx-e_googlemap-pi3 .tx_egooglemap_direction_textmode {text-align:right; margin-right:5px; position:relative; top:-12px; font-weight:bold; color:#FF0000;}

/* default styles for extension "tx_kequestionnaire_pi1" */
		.keq_unit {
			background-color:#EEEEEE;
			padding:0 3px 3px;
			width:508px;
			margin-bottom:15px;
		}

		.keq_blindunit p.bodytext{
			color: #ffffff;
		}

		.keq_question_blind p.bodytext{
			color: #000000;
		}

		.keq_question {
			display: block;
			width: 500px;
			padding: 3px;
			background: #DADADA;
			border: 1px solid black;
			margin-bottom: 4px;
		}

		.keq_question p {
			margin: 0;
			color: #000000;
		}

		.tx-kequestionnaire-pi1 .odd {
			background-color: #DADADA;
			line-height: 1.5em;
			padding: 3px;
		}

		.tx-kequestionnaire-pi1 .even {
			line-height: 1.5em;
			padding: 3px;
		}

		.tx-kequestionnaire-pi1 .title_line {
			background-color: #DADADA;
			line-height: 1.5em;
			padding: 3px;
			border: 1px solid black;
		}

		.keq_error {
			color: red;
		}

		.keq_pagecounter_barbox {
			width: 300px;
			height: 20px;
			border: 1px solid black;
			margin-bottom: 6px;
			position: relative;
		}

		.keq_pagecounter_bar {
			background: #dadada;
			height: 100%;
			z-index: 1;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
		}

		.keq_pagecounter {
			position: absolute;
			z-index: 5;
			left: 45%;
			margin-top: 2px;
		}

		.keq_inp_large{
			width: 300px;
		}

		.keq_inp_textarea{
			width: 300px;
		}

		.keq_question_blind{
			width: 500px;
		}

		.keq_selection p {
			display:inline;
			margin:0;
		}

		.keq_selection select {
			width: 300px;
		}

		.keq_selection .checkbox_label {
			padding-top: 1px;
			margin-left: 30px;
		}

		.keq_selection .clearer {
			height: 1px;
			line-height: 1px;
			font-size: 1px;
			clear: both;
		}

		.keq_selection input {
			margin: 2px;
		}

		.keq_selection .checkbox {
			width: 20px;
			float: left;
			margin-top: 4px;
		}

		.keq_selection thead{
			color: black;
		}

		.keq_selection thead th{
			background-color: #404040;
		}

		.keq_demographic label {
			width: 150px;
			display: block;
			float: left;
		}

		.keq_matrix_input, .keq_matrix_radio, .keq_matrix_checkbox, .keq_matrix_th{
			text-align: center;
		}

		.keq_navigation {
			margin-top: 20px;
		}

		.keq_navigation a {
			padding: 3px;
			text-decoration: none;
			display: block;
			width: 160px;
			border: 1px solid #000000;
			margin: 1px;
			text-align: center;
			background-color: #DADADA;
			float: left;
			color: #000000;
		}

		.keq_navigation a:hover
		{
			text-decoration: none;
			color: #000000;
			background-color: #808080;
		}

		a.keq_tooltip,
		a.keq_tooltip:link,
		a.keq_tooltip:visited,
		a.keq_tooltip:active {
			position: relative;
			text-decoration: none;
			font-style: bold;
			border-bottom:0px dotted #4dbcf3;
		}

		a.keq_tooltip:hover {
			background: transparent;
			z-index: 100;
		}

		a.keq_tooltip span.keq_tip {
			display: none;
			text-decoration: none;
		}

		a.keq_tooltip:hover span.keq_tip {
			display: block;
			position: absolute;
			top: 5px;
			left: 20px;
			width: 200px;
			z-index: 100;
			padding: 2px 10px 2px 10px;
			border: 1px dashed #666666;
			background: #dddddd;
			color: #000000;
			font-family: Verdana, Arial, Helvetica, Sans-serif;
			text-align: left;
		}

		.keq_selection p{
			margin: 0;
		}

		input.keq_radio_rte { display: inline; }
		input.keq_checkbox_rte { display: inline; }

		.keq_ematrix_spacer {
			width: 0px;
			border-left: 1px solid black;
			padding: 0;
		}

		.keq_q_part_text {
			color: #005500;
		}

		.keq_q_no_part_text {
			color: #550000;
		}

		.keq_timer .timer_clock {
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			background:transparent url('../typo3conf/ext/ke_questionnaire/res/images/keq_watchtime.jpg') no-repeat scroll 0 0;
			color:#278E1C;
			float:right;
			font-family:Arial;
			font-size:16px;
			font-weight:bold;
			height:84px;
			line-height:110px;
			overflow:hidden;
			text-align:center;
			width:62px;
		}

		.keq_timer #mins {
			margin-left: 15px;
			float: left;
		}

		.keq_timer #parter {
			float: left;
		}

		.keq_timer #secs {
			float: left;
		}

		.keq_timer .clearer {
			height: 1px;
			line-height: 1px;
			font-size: 1px;
			clear: both;
		}

		/*From Content.css*/
		.keq_unit {
			background-color:#EEEEEE;
			padding:0 3px 3px;
			width:700px;
		}

		.keq_question {
			padding: 3px;
			background: #DADADA;
			border: 1px solid black;
			margin-bottom: 4px;
			width: 691px;
		}

		.keq_inp_large{
			width: 98%;
		}

		.keq_inp_textarea{
			width: 98%;
		}

		.keq_question_blind{
			width: 500px;
		}

		.keq_selection select {
			width: 300px;
		}

		.keq_selection thead{
			color: black;
		}

		.keq_selection thead th{
			background-color: #404040;
		}

		.keq_demographic label {
			width: 150px;
			display: block;
			float: left;
		}

		.keq_navigation {
			margin-top: 20px;
		}

		.keq_navigation a {
			padding: 3px;
			text-decoration: none;
			display: block;
			width: 160px;
			border: 1px solid #000000;
			margin: 1px;
			text-align: center;
			background-color: #DADADA;
			float: left;
			color: #000000;
		}

		.keq_navigation a:hover
		{
			color: #000000;
			background-color: #808080;
		}

		/**
		* Fragebogen-Modul
		*/
	        .keq_questionnaire { padding: 15px 0; }
	        .keq_page {
			background: #ffffff;
			padding: 10px 0 0 0;
	        }
	        .keq_pagecounter {
			padding: 0 14px;
			margin-bottom:6px;
			text-align: right;
	        }
	        .keq_questions {
			/* border-left: 10px solid #0098A1; */
	        }
	        .keq_selection .keq_inp_large { width:600px; }
	        .keq_input input { width:600px; }

	        .keq_input input#keq_66,
	        .keq_input input#keq_68{
			width: 30px;
		}

	        .keq_unit {
			background: transparent;
			margin-bottom:15px;
			padding:0 10px 5px 0px;
			width: auto;
	        }
	        .keq_question {
			/* background:#ccd800; */
			border-top: 0;
			border-right: 0;
			border-bottom: 1px solid #0098A1;
			border-left: 20px solid #0098A1;
			background: white;
			font-weight: bold;
			display:block;
			margin-bottom: 0;
			padding: 4px 6px;
			width:auto;
	        }
	        tr.title_line td{
			background: #F2F2F2;
			font-style: italic;
	        }
	        .keq_blindunit .keq_question {
			background:#0098A1;
			color: #fff;
		}

		.tx-kequestionnaire-pi1 .odd {
			    background-color: transparent;
			    line-height:1.5em;
			    padding:3px;
		}

		.tx-kequestionnaire-pi1 .title_line {
		 	background-color: #d9d9d9;
			line-height:1.5em;
			padding:3px;
			border: 0;
		}
    
		.keq_navigation {
			    margin:20px auto 0 auto;
			    padding: 0 0 10px 0;
			    width: 425px;
		}

		.keq_navigation a {
			background-color:#0098A1;
			border:0;
			color:#000;
			display:block;
			float:left;
			margin:1px;
			padding:3px;
			text-align:center;
			text-decoration:none;
			width:200px;
			font-weight: bold;
        }

		.keq_navigation a:hover {
			background-color:#0098A1;
			color:#fff;
        }

		.keq_cleaner {
			clear: both;
			line-height: 1px;
			font-size: 1px;
			height: 1px;
			overflow: hidden;
        }

		.keq_selection table {
			border: 0;
			margin: 0;
			width: 100%;
        }

		.keq_selection thead th {
			background:#d9d9d9;
			border: 0;
			font-weight: normal;
			font-style: italic;
			color:#333;
        }

		.keq_selection .semantic_td {
			text-align: center;
		}

		.keq_selection, .keq_input {
			margin: 0 0 0 19px;
			padding:3px 0 3px 4px;
			position: relative;
			border-left: 1px solid #0098A1;
			border-right: 0;
			border-top: 0;
			border-bottom: 0;
        }

		.keq_selection tbody td { border-bottom:1px solid #d9d9d9; }

		.keq_input { padding:0.45em; }

		.keq_question_blind {
			width:auto;
			padding:0.45em;
        }

		.keq_other{ padding:0.45em; }

		.keq_img_left { float: left }
		.keq_img_right { float: right }

		.keq_input_error { display: block;}

		.keq_matrix_th img {
			width: 50px;
			height: 50px;
		}

		.keq_matrix_th .keq_img_th_left{
			margin-right: 5px;
		}
		.keq_matrix_th .keq_img_th_right {
			margin-left: 5px;
		}

		.keq_matrix_table img {
			width: 50px;
			height: 50px;
		}

		.keq_matrix_table .keq_img_td_left{
			margin-right: 5px;
		}
		.keq_matrix_table .keq_img_td_right {
			margin-left: 5px;
		}

		div.keq_tooltip
		{
		  position: relative;
		  text-decoration: none;
		  font-weight: bold;
		  border-bottom:0px dotted #4dbcf3;
		  display:inline;
		}


		div.keq_tooltip:hover {
		  background: transparent;
		  z-index: 100;
		}

		div.keq_tooltip div.keq_tip {
		  display: none;
		  text-decoration: none;
		}

		div.keq_tooltip:hover div.keq_tip {
		  display: block;
		  position: absolute;
		  top: 5px;
		  left: 20px;
		  width: 200px;
		  z-index: 100;
		  padding: 2px 10px 2px 10px;
		  border: 1px dashed #666666;
		  background: #dddddd;
		  color: #000000;
		  font-family: Verdana, Arial, Helvetica, Sans-serif;
		  text-align: left;
		}

		table.keq_matrix_table .keq_matrix_th img{
		  width: 50px;
		  height: 50px;
		}

		table.keq_matrix_table .keq_matrix_td img{
		  width: 50px;
		  height: 50px;
		}

		.keq_img_opt_right img {
		  width: 50px;
		  height: 50px;
		  margin-left: 3px;
		}

		.keq_img_opt_left img {
		  width: 50px;
		  height: 50px;
		  margin-right: 3px;
		}

		.keq-placeholder,
		.keq-moveable {
			background-color: #efeb8a;
			border: 2px solid #eae327;
			display: inline-block;
			font-size: 11px;
			height: 20px;
			line-height: 20px;
			margin: 0 5px 8px;
			padding: 0 10px;
			text-align: center;
			width: 180px;
		}
		
		div.highlight_area {
			background:transparent url('../typo3conf/ext/ke_questionnaire/res/images/transparent33.png');
		}

		div.keq-ddarea-placeholder {
			position: absolute;
		}
		
		div.keq-moveable {
			background-color: #bfbfbf;
			border: 2px solid #6d6d6d;
		}
		
		.keq-possible {
			background-color: #f8dc91;
		}

		span.keq-hover {
			background-color: #8ce880;
			border: 2px solid #3cd228;
		}

		div.keq-hover {
			background-color: #8ce880;
		}

		div.keq-ddarea-checkbox {
			background-color: #DDDDDD;
			border: 1px solid #C0C0C0;
			float: left;
			height: 20px;
			margin: 10px 10px 10px 0;
			width: 20px;
		}
		
		div.keq-ddarea-moveable {
			display: block;
			float: left;
		}
		
		div.keq_ddpics_pics ul {
			list-style: none;
			list-style-position: inside;
			min-height: 100px;
			padding: 10px;
			margin: 0px;
			position: relative;
		}
		
		div.keq_ddpics_pics ul li{
			z-index: 20;
			display: block;
			float: left;
			margin-left: 2px;
			border: 1px solid #0098A1;
		}
		
		div.keq_ddpics_ddarea ul {
			list-style: none;
			list-style-position: inside;
		}
		
		div.keq_ddpics_ddarea ul li{
			z-index: 20;
			display: block;
			float: left;
			border: 1px solid #0098A1;
		}
		
		div.keq_ddpics_ddarea .keq-ddarea-placeholder ul {
			margin-left: 0px;
			margin-top: 5px;
			position: relative;
		}
		
		div.keq_ddpics_ddarea .keq-ddarea-placeholder ul li {
			float: left;
			height: 40px;
			margin-bottom: 5px;
			margin-left: 5px;
		}
		
		div.clearer {
			clear: left;
		}
		
		div.clearer_all {
			clear: both;
		}
		
		div.pagemap {
			float: right;
			display: block;
			padding: 5px;
			background: #fff;
		}
		
		div.pagemap_item.active {
			font-weight: bold;
		}
/* default styles for extension "tx_etagmag" */
	textarea.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	input.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	.tx-e-tag-mag table {
		border-collapse:separate;
		border-spacing:10px;
	}

	.tx-e-tag-mag table th {
		font-weight:bold;
	}

	.tx-e-tag-mag table td {
		vertical-align:top;
	}
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.csc-textpic-border DIV.csc-textpic-single-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; vertical-align:bottom; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 10px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 10px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
	DIV.csc-textpic DIV.csc-textpic-single-image IMG { margin-bottom: 10px; }

	/* IE7 hack for margin between image rows */
	*+html DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image { margin-bottom: 0; }
	*+html DIV.csc-textpic DIV.csc-textpic-imagerow { margin-bottom: 10px; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text,
	* html .csc-textpic-intext-left ol,
	* html .csc-textpic-intext-left ul { height: 1%; }
	/* End hide from IE5/mac */

	DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }

	/* Browser fixes: */

	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {padding-left: 40px; overflow: auto; }
/* default styles for extension "tx_srfreecap_pi2" */
		img.tx-srfreecap-pi2-image { margin-left: 1em; margin-right: 1em; vertical-align: middle; }
		.tx-srfreecap-pi2-accessible-image { vertical-align: middle; }
		.tx-srfreecap-pi2-accessible-link { width: 10em; float: right; vertical-align: middle; margin-right: 7em;}
		.tx-srfreecap-pi2-cant-read { font-size: .9em; color:#35006d; }
		.tx-srfreecap-pi2-cant-read a:link { background-color:transparent; font-weight:bold; text-decoration:none; }
/* default styles for extension "tx_ptextbase" */

	.tx-extbase-highlight {
        font-weight:bold;
        color: #003399;
    }
    